*{
    font-family: 'Source Sans Pro', sans-serif;
}

/*Loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../../inc/images/ring.gif) center no-repeat #ecf0f5;
}
/*.header{
    float: left;
    width: 100%;
    background-image: url('../../repository/cropped-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:119px;
}*/
.entire-wrapper{
    width: 100%;
}
/*.main-left-after{
    float: left;
    height: 100vh;
}*/

.main-left{
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 5;
    background-color: #222d32;
    h2{
        text-transform: uppercase;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        color: #4b646f;
        font-weight: 500;
        text-align: center;
        float: left;
        background-color: #1a2226;
        font-size: 14px;
    }
    ul{
        float: left;
        width: 100%;
        li{
            float: left;
            width: 100%;
            position: relative;
            &.right-arrow:after, &.down-arrow:after{
                font-family: 'FontAwesome';
                right: 15px;
                cursor: pointer;
                top: 17px;
                position: absolute;
                color: #a9c2ba;
            }
            &.right-arrow:after{
                content: "\f105";
            }
            &.down-arrow:after{
                content: "\f107";

            }
            a{
                padding: 15px 12px;
                width: 100%;
                position: relative;
                float: left;
                border-left: 4px solid transparent;
                color: #a9c2ba;
                .transition(all 0.2s ease-out);
                &.active{
                    background-color: #1c282c;
                    border-left: 4px solid #3c8dbc;
                    color: #fff;
                    &::after{
                        right: 0;
                        border: 9px solid transparent;
                        content: "";
                        position: absolute;
                        pointer-events: none;
                        border-right-color: #ecf0f5;
                        top: 50%;
                        margin-top: -9px;
                    }
                }
                &:hover{
                    color: #fff;
                }
                i{
                    font-size: 15px;
                    margin-right: 7px;
                    width: 15px;
                    &.members:before{
                        content: '\f0c0';
                    }
                    &.settings:before{
                        content: "\f0ad";
                    }
                    &.dashboard:before{
                        content: "\f0e4";
                    }

                }
            }
            ul{
                display: none;
                li{
                    a{
                        padding-left: 30px;
                        font-size: 14px;
                        border-left: none;
                        &.active{
                            border-left: none;
                            &::after{
                                border: 8px solid transparent;
                                border-right-color: #ecf0f5;
                            }
                        }
                        i{
                            margin-right: 4px;
                            width: 15px;
                            &.member{
                                font-size: 14px;
                                &.member:before{
                                    content: '\f007';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.main-right{
    width: 85%;
    float: left;
    height: 100%;
    min-height:100vh;
    background-color: #ecf0f5;
    padding: 25px;
    h1{
        color: #333333;
        font-size: 28px;
        font-weight: 300;
        margin-top: 0;
    }
    .main-box{
        float: left;
        width: 100%;
        background-color: #fff;
        padding: 10px 5px;
        border-radius: 3px;
        box-shadow: 0 0 8px 1px grey;
        .left-form-content, .right-form-content{
            width: 50%;
            float: left;
            padding: 0 10px;
            label{
                float: left;
                width: 100%;
                padding: 20px 0 5px 0;
                font-weight: 600;
                color: #333333;
                font-size: 14px;
                &:first-child{
                    padding-top: 0;
                }
            }
            span.telephone, span.mobile{
                width: 100%;
                float: left;
                position: relative;
                &::after{
                    content: "\f095";
                    position: absolute;
                    font-family: 'FontAwesome';
                    right: 15px;
                    top: 10px;  
                    color: #555555;
                }
            }
            span.error{
                float: left;
                padding-top: 5px;
                color: red;
            }
            span.email{
                width: 100%;
                float: left;
                position: relative;
                &::after{
                    content: "\f0e0";
                    position: absolute;
                    font-family: 'FontAwesome';
                    right: 15px;
                    top: 10px;  
                    color: #555555;
                }
            }
            span.date{
                width: 100%;
                float: left;
                position: relative;
                &::after{
                    content: "\f073";
                    position: absolute;
                    font-family: 'FontAwesome';
                    right: 15px;
                    top: 10px;
                    color: #555555;
                    pointer-events: none;
                }
            }
            select{
                float: left;
                width: 100%;
                border-radius: 3px;
                padding: 7px;
                border: 1px solid #ccc;
                height: 36px; 
                .transition(all 0.35s);
                &.error{
                    border-color: red;
                }
            }
            input{
                width: 100%;
                float: left;
                border-radius: 3px;
                padding: 7px;
                position: relative;
                .transition(all 0.35s);
                &:focus{
                    box-shadow: 0 0 5px #719ECE;
                }
                &[type="file"]{
                    border: none;
                    padding-left: 0;
                    padding-bottom: 0;
                    &.valid{
                        color: black;
                    }
                    &.error{
                        color: red;
                    }

                }


                &.error{
                    border-color: red;
                }
                &#remove{
                    width: 20%;
                    padding: 5px;
                    margin-top: 10px;
                }
                &.number::after{
                    content: "€";
                }
                &[type="submit"]{
                    margin: 15px 0;
                    color: #fff;
                    border-color: #3c8dbc;
                    background-color: #3c8dbc;
                    .transition(all 0.2s);
                    &:hover{
                        background: #fff;
                        color: #3c8dbc;
                    }
                }
                &.hide{
                    display: none;
                }
            }
            img{
                float: left;
                width: 200px;
                height: 200px;
            }
        }
        .generate-pdf{
            float: left;
            margin-top: 10px;
            border-radius: 3px;
            padding: 10px;
            color: #fff;
            border: 1px solid #3c8dbc;
            background-color: #3c8dbc;
            .transition(all 0.2s);
            &:hover{
                background: #fff;
                color: #3c8dbc;
            }
        }

        .settings-remove-ms, .settings-add-ms{
            border-radius: 3px;
            padding: 8px;
            float:left;
            color: #fff;
            margin-left: 5px;
            border: 1px solid #3c8dbc;
            background-color: #3c8dbc;
            .transition(all 0.2s);
            &:hover{
                background: #fff;
                color: #3c8dbc;
            }
        }

        .settings-add-ms{
            padding: 8px 23px;
        }
        .member-table{
            border: 1px solid #A9A9A9;
            float: left;
            width: 100%;
            td, th{
                padding: 7px;
                border: 1px solid #A9A9A9;
                text-align: center;
                color: #333333;
            }
            th{
                font-weight: 600;
                background-color: #ecf0f5;
            }
            /*        tr:last-child{
                        td:first-child{
                            border-bottom-left-radius: 3px;
                        }
                        td:last-child{
                            border-bottom-right-radius: 3px;
                        }
                    }*/
        }
    }

    .left-membership{
        float:left;
        width:33%;
        input[type='submit']{
            height: 36px;
            width: 28%;
        }
        .add-membership{
            float:left;
            width: 100%;
            margin: 5px;
        }
        .remove-membership{
            float:left;
            width: 100%;
            margin:5px;
        }
    }

    .settings-membership-select{
        float: left;
        width: 70%;
        border-radius: 3px;
        padding: 7px;
        border: 1px solid #ccc;
        height: 36px; 
        margin: 0px;
        .transition(all 0.35s);
        &.error{
            border-color: red;
        }
    }
    label.settings-label{
        float: left;
        width: 100%;
        padding: 20px 0 10px 0;
        font-weight: 600;
        color: #333333;
        font-size: 14px;
        &:first-child{
            padding-top: 0;
        }
    }
    input.settings-input{
        width: 70%;
        float: left;
        border-radius: 3px;
        padding: 7px;

        position: relative;
        .transition(all 0.35s);
        &:focus{
            box-shadow: 0 0 5px #719ECE;
        }
        &[type="file"]{
            border: none;
            padding-left: 0;
            padding-bottom: 0;
            &.valid{
                color: black;
            }
            &.error{
                color: red;
            }

        }

        &.error{
            border-color: red;
        }
        &#remove{
            width: 20%;
            padding: 5px;
            margin-top: 10px;
        }
        &.number::after{
            content: "€";
        }
        &[type="submit"]{
            margin: 15px 0;
            color: #fff;
            border-color: #3c8dbc;
            background-color: #3c8dbc;
            .transition(all 0.2s);
            &:hover{
                background: #fff;
                color: #3c8dbc;
            }
        }
        &.hide{
            display: none;
        }
    }

    .generate-pdf{
        float: left;
        margin-top: 10px;
        border-radius: 3px;
        padding: 10px;
        color: #fff;
        border: 1px solid #3c8dbc;
        background-color: #3c8dbc;
        .transition(all 0.2s);
        &:hover{
            background: #fff;
            color: #3c8dbc;
        }
    }
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    background-color: #fff;
}
